<h3><i class="fas fa-book-reader"></i> Poetic</h3>
<h6>by Sehjong Hamjong</h6>

<div class="section">
    <p class="lead">Compose public and private poems</p>
</div>

<div class="section">
    <p class="lead">This is thy hour O Soul, thy free<br />flight into the wordless,<br />Away from books, away from art,<br />the day erased, the lesson done,<br />Thee fully forth emerging, silent,<br />gazing, pondering the themes<br />thou lovest best,<br />Night, sleep, death and the stars.</p>
    <p>- A Clear Midnight, Walt Whitman</p>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
