p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

#loginPage {
    background-image: url('../images/a-clear-midnight.jpg');
    background-size: cover;
    background-blend-mode: lighten;
}

/* #mainPages {
    background-image: url('../images/a-clear-midnight.jpg');
    background-size: cover;
    background-blend-mode: lighten;
} */
